<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="CATax" class="prob1_atmXML.register.CATaxCalculator"/>
    <bean id="NYTax" class="prob1_atmXML.register.NYTaxCalculator"/>

    <!--    Constructor Injection-->
<!--    <bean id="register" class="register.CashRegister">-->
<!--        <constructor-arg value="CA"/>-->
<!--        <constructor-arg ref="CATax"/>-->
<!--    </bean>-->
<!--    <bean id="registerInNY" class="register.CashRegister">-->
<!--        <constructor-arg value="NY"/>-->
<!--        <constructor-arg ref="NYTax"/>-->
<!--    </bean>-->

    <!--    Setter Injection-->
    <bean id="register" class="prob1_atmXML.register.CashRegister">
        <constructor-arg value="CA"/>
        <property name="taxCalculator" ref="CATax"/>
    </bean>
    <bean id="registerInNY" class="prob1_atmXML.register.CashRegister">
        <constructor-arg value="NY"/>
        <property name="taxCalculator" ref="NYTax"/>
    </bean>
</beans>
